

.header {
	text-transform: uppercase !important;
}

.top-bar,
.title-area {
	background-color: white;
	height: 6.5rem;
}

.top-bar.expanded {
	.title-area {
	background: #fff !important;
	}
}

.logo-container {
	padding-top: 10px;
	padding-left: 1.5rem;
	display: inline-block;
}

.menu-icon {
	right: 15px !important;

	a {
		color: #222 !important;
		cursor: pointer;
		.hamburger {
			&:after {
				-webkit-box-shadow: rgb(119, 119, 119) 0px 0px 0px 3px, rgb(119, 119, 119) 0px 7px 0px 3px, rgb(119, 119, 119) 0px 14px 0px 3px !important;
				box-shadow: rgb(119, 119, 119) 0px 0px 0px 3px, rgb(119, 119, 119) 0px 9px 0px 3px, rgb(119, 119, 119) 0px 18px 0px 3px !important;
				width: 20px !important;
			}
		}
	}
}


nav {
	position: relative;
}


.phone-icon {
	padding-right: .4em;
	padding-bottom: .3rem;

}

.top-bar-section {
	ul {
		li > a {
			color: #333 !important;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;

		}
		li {
			border-bottom: 1px solid #ddd;
		}
	}

	li {
		a {
			&:not(.button) {
				background: #fff !important;  	
			}
		}
	}
	.has-dropdown > a:after {
		border-color: transparent transparent transparent rgba(119, 119, 119, 1) !important;
	}
	.back {
		h5 {
			a {
				color: #333 !important;
				text-align: center;
				font-size: 14px;
				line-height: 45px !important;
			}
		}
	}
}


.top-bar-section li a:not(.button):hover {
    background: #ddd !important;   
}



// Small screen stuff only
@media only screen and (max-width: 40.063em) {

}

// Medium and up
@media only screen and (min-width: 40.063em) {
	.site-logo {
		margin-right: 50px;
		margin-top: 10px;
	}

	.splash-container {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		background-color: $tertiary-color;
	}
	.top-bar-section {
		ul {
			li {
				border: none;
				a {
					&:not(.button) {
						background: transparent !important;  	
					}
				}
			}
		}
	}

	.top-bar, 
	.title-area {
		background-color: transparent;
	}

	.contact-header-button {
	position: absolute;
	top: 0px;
	right: 0px;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	height: 6.5rem;
	text-transform: none;
	color: #333;
	line-height: 1.65rem;
	}

	.hero-container {
		padding-top: 12rem;
		padding-bottom: 4rem;
	}
}


// Large stuff
@media only screen and (min-width: 64.063em) {
	.logo-image {
		background: #ffffff url('img/logo.png') no-repeat; width: 116px; height: 187px;
	}

}