

.header {

	/*@include single-box-shadow;*/
	margin-left: 150px !important;
	text-transform: uppercase !important;
}

nav {
	position: relative;
}

.logo-image {
	position: absolute;
	background: #ffffff url('img/logo.jpg') no-repeat; width: 116px; height: 187px;
	@include single-box-shadow(#aaaaaa);
}




.phone-icon {
	padding-right: .4em;
	padding-bottom: .3rem;

}

.top-bar-section li a:not(.button) {
    background: $secondary-color !important;   
}

.top-bar-section li a:not(.button):hover {
    background: #1F3F8B !important;   
}

.top-bar-section ul li.active > a {
    background: #1F3F8B !important;   
}

.top-bar-section ul li.active > a:hover {
    background: #1F3F8B !important;   
}

