// Colors
$primary-color: #e65336;
$secondary-color: #284b9f;
$tertiary-color: #f7f7f7;
$horizontal-pipe-color:  #eeeeee;

// Footer Colors
$footer-header-color: #ae2c11;
$footer-body-color: #eeeeee;
$footer-secondary-color: #cd4023;
$footer-tertiary-color: #961f06;

//Header Colors
$topbar-bg: $secondary-color;
$topbar-bg-color: $secondary-color !default;

$default-border-radius: 2px;


